<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./testing/tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./testing/src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./testing/vendor</directory>
            <directory suffix=".php">./testing/src/Exceptions</directory>
        </blacklist>
    </filter>
</phpunit>